.controlPanel {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .dataTypeControls {
        display: flex;
        justify-content: space-evenly;

        button{
            // padding-inline: 2em;
            width: 12em;
        }
    }

    .timeControls {
        display: flex;
        justify-content: center;
        gap: 5em;

        button {
            width: 7.5em;
            font-weight: 400;
        }
    }
    
    @media(max-width: 950px) {
        gap: 1.5em;

        .dataTypeControls button{
            width:12em;
            font-size: 0.8rem;
        }


        .timeControls {
            gap: 2.5em;

            button {
                width: 7.5em;
                font-size: 0.8rem;
            }
        }

    }
    @media(max-width: 700px) {
        gap: 1.5em;

        .dataTypeControls button{
            width:10em;
            font-size: 0.8rem;
        }


        .timeControls {
            gap: 2.5em;

            button {
                width: 7.2em;
                font-size: 0.8rem;
            }
        }

    }
    @media(max-width: 570px) {
        gap: 1.5em;

        .dataTypeControls button{
            width:10em;
            font-size: 0.7rem;
        }


        .timeControls {
            gap: 2.5em;

            button {
                width: 7.5em;
                font-size: 0.7rem;
            }
        }

    }
}

